<script type="text/javascript">
    $(document).ready(function () {

        var app = new Vue({
            el: '#app',
            data: {
                drafts: []
            }
        });

        io.socket.get('/draft', function (data) {
            console.log(data);
            app.drafts = data;
        });

        io.socket.on('draft', function(event) {
            console.log(event);
            if (event.verb === 'created') {
                app.drafts.push(event.data);
            } else if (event.verb === 'updated') {
                io.socket.get('/draft/' + event.id, function (data) {
                    console.log(data);
                    app.drafts.splice(_.findIndex(app.drafts, function(item) {
                        return item.id == data.id;
                    }), 1, data);
                });
            } else if (event.verb === 'destroyed') {
                app.drafts.splice(_.findIndex(app.drafts, function(item) {
                    return item.id == event.id;
                }), 1);
            }
        });
    });

</script>


<div id="app">
    <div class="row">
        <div class="col" v-for="draft in drafts">
            <div class="draft" v-bind:id="draft.id">
                <div class="draft-name">{{draft.name}}</div>
                <div class="draft-teams" v-for="team in draft.teams">
                    <div class="draft-team-name">{{team.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
